astroid==2.3.3
blinker==1.4
certifi==2018.1.18
chardet==3.0.4
colorama==0.4.1
dataclasses==0.4
Django==2.0.3
django-mongodb-engine==0.6.0
django-rest-framework-mongoengine==3.4.0
djangorestframework==3.10.3
djangotoolbox==1.8.0
djongo==1.2.22
idna==2.6
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mongoengine==0.18.2
pylint==2.4.4
pymongo==3.9.0
pytz==2018.3
requests==2.18.4
six==1.13.0
sqlparse==0.2.4
typed-ast==1.4.0
urllib3==1.22
wrapt==1.11.2
